# Copy this file to .env.local and fill in your real values
# MongoDB connection string with username and password.
# Example: DB_URI=mongodb+srv://username:password@cluster0.example.mongodb.net
DB_URI=
DB_NAME=uyjoy
DB_USERS_COLLECTION=users
DB_PAYMENTS_COLLECTION=payments
PORT=3001
